In [76]:
# Recap:

# 1. In an equation like x = 1, x is a variable that is assigned a value of 1
# 2. x has type of `int` (integer for whole number) because it was assigned a value of 1 (int)
# 3. different "types" of variables: int, str, float, bool

In [ ]:
## Comparison
# double = signs: a == b   => not variable `a` assigned a value from `b`... is a equal to b?
a = 2
b = a    # assign `b` same value as `a`
print(b == a)   # is b equal to a?   (b == a) => (2 == 2) => True
b = a + 1   # assign `b` value of `a+1`
print(a==b)   # is b equal to a?   (b == a) => (3 == 2) => False

In [77]:
## New type: list.
# A list is a collection of items (usually of same types)

In [37]:
# List of integers
l = [1, 2, 3, 4]

In [38]:
type(l)

list

In [39]:
print(l)

[1, 2, 3, 4]

In [40]:
# List of strings
l = ["nikhil", "joshi"]
print(l)

['nikhil', 'joshi']

In [78]:
# String itself is a string of characters or list of characters
s = "nikhil"
list(s)

['n', 'i', 'k', 'h', 'i', 'l']

In [44]:
# bool type: a True/False value
x = True

In [45]:
print(x)

True

In [ ]:
## Conditionals: run this code only if condition is true
# if condition:
#    then run this

In [51]:
if 1==2:
    print("nikhil")
    print("j")
print("joshi")

nikhil
j
joshi

In [60]:
# More conditionals: if... elif ... else 
x = 100

if x < 10:
    print("I am small")
elif x < 100:
    print("I am kind of big")
else:
    print("I am big")

I am big

In [ ]:
## Loop: run the same code many times for different values

In [63]:
l = ["nikhil", "j", "joshi"]
for i in l:   # -> for each i in ["nikhil", "j", "joshi"]... do something
    print(f"This is {i}")
    print("I am done")

This is nikhil
I am done
This is j
I am done
This is joshi
I am done

In [ ]:
# For loop for printing 1 to 10 numbers

In [65]:
# boring way
print(1)
print(2)
print(3)

1
2
3

In [68]:
# smart way: loop
for i in range(11):   # -> for i in [1, 2, 3, 4, 5, 6, 7, 8, 9]
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
## Exercise: Print Table of 2

In [72]:
print(2*1)
print(2*2)
print(2*3)
print(2*4)
# ... and so on till 2*10

2
4
6
8

In [73]:
for i in range(11):
    print(2*i)

0
2
4
6
8
10
12
14
16
18
20

In [75]:
# to remove that annoying 0 at the beginning adjust `range` to start at 1
for i in range(1, 11):
    print(2*i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
## Exercise: Write a function to print table of any given integer.